Dependency directories

/node_modules
/dist
/build

Logs

npm-debug.log
*.log

Environment variables and secrets

.env
.env.local

Operating System files

.DS_Store
Thumbs.db

VS Code directory 

.vscode